@keyframes flicker {
  0% { opacity: 1; }
  10% { opacity: 0.6; color: #e4a1a1 }
  20% { opacity: 1; }
  30% { opacity: 0.6; color: #e4a1a1}
  40% { opacity: 1; }
  100% { opacity: 1; }
}

.flicker-effect {
  animation: flicker 1s infinite;
}

@keyframes gradient {
  0% {background-position: 0% 50%;}
  50% {background-position: 100% 50%;}
  100% {background-position: 0% 50%;}
}

.animated-gradient {
  background-size: 300% 300%;
  background-image: linear-gradient(45deg, rgb(71, 96, 128), rgb(98, 127, 160),rgb(83, 93, 136));
  animation: gradient 30s ease infinite;
}

body {
  background-size: 300% 300%;
  background-image: linear-gradient(45deg, #FF4081, #FFB6C1, #a9d9e6, #99e3f5);
  animation: gradient 10s ease infinite;
}


.About {
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.profile {
  margin-right: 50px;
}

.profile-img {
  border-radius: 10%;
  width: 200px;
  height: 200px;
}

.bio {
  text-align: left;
  max-width: 500px;
}